src/test/resources/siebel-local-xml-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:spring="http://www.springframework.org/schema/beans"
	xmlns:siebel="http://www.mulesoft.org/schema/mule/siebel"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                          http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
                          http://www.mulesoft.org/schema/mule/siebel http://www.mulesoft.org/schema/mule/siebel/1.0.1-SNAPSHOT/mule-siebel.xsd
                          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:property-placeholder location="test.properties"/>
	
	<siebel:config host="${host}" port="${port}" user="${user}" password="${password}" path="${url_path}"/>

	<flow name="localXmlFlow">
		<custom-transformer class="org.mule.module.siebel.transformers.XmlStringToSiebelPropertySet"/>
		<siebel:invoke-method service="Workflow Utilities" method="Echo" propertySet="#[payload]"/>
	</flow>
	
</mule>
